<mat-card>
  <h1>Hello World app - Debut de projet sur la blockchain ropsten</h1><br>

  <ng-template [ngIf]="adress">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Mon adresse : {{ adress[0] }}
          </mat-panel-title>
          <mat-panel-description>
            Montrer ma balance : {{panelOpenState ? 'Oui' : 'Non'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Balance :{{ balance }} eth</p>
      </mat-expansion-panel>
    </mat-accordion>
    <br><br>
  </ng-template>
  <ng-template [ngIf]="!adress">
    <button mat-raised-button color="accent" (click)="Connect()" >
      Connecter d'abord votre portefeuille au réseau ropsten
    </button>
  </ng-template>

  <!--<ng-template [ngIf]="adress">
    <mat-form-field appearance="fill">
      <mat-label>Qui êtes-vous ?</mat-label>
      <mat-select>
        <mat-option *ngFor="let parti of partis" [value]="parti.id" >
          {{parti.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>-->

  <form class="example-form">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Price offer : </mat-label>
      <input matInput type="number" class="example-right-align" name="price" id="price" placeholder="0" [(ngModel)]="price" (keyup.enter)="makeAnOffer()">
      <span matSuffix>.00 ETH</span>
      <ng-template [ngIf]="adress">
        <button mat-raised-button color="accent" (click)="makeAnOffer()">
          Envoyer l'offre
        </button>
      </ng-template>
    </mat-form-field>
  </form>
  <br>

  <ng-template [ngIf]="adress">
    <button mat-raised-button color="accent" (click)="acceptAnOffer()">
      Accepter l'offre
    </button>
  </ng-template>

  <ng-template [ngIf]="adress">
    <button mat-raised-button color="accent" (click)="rejectAnOffer()">
      Rejeter l'offre
    </button>
  </ng-template>
  <br><br>

  <a href="https://ropsten.etherscan.io/address/0xE72010C2381Ba55134e17E1DE8BA92A6d2915186" target="_blank" onClick="fonction(this.href); return false;">
    <button mat-raised-button color="primary">
      Voir le smart contrat sur Etherscan
    </button>
  </a>


</mat-card>
