

<mat-card>


  <h1>Get into web3</h1>
  <ng-template [ngIf]="adress">
    <h2> Adresse :{{ adress[0] }}</h2>
    <h2> Balance :{{ balance }} eth</h2>
  </ng-template>



  <button mat-raised-button color="primary" (click)="Connect()" >
    Connect your wallet
  </button>

  <button mat-raised-button color="accent" (click)="Wave()" >
    wave
  </button>
  <br>
  <br>

  <a href="https://rinkeby.etherscan.io/address/0xed8A56B4b028F731f57daF888e9E66f117494098" target="_blank" onClick="fonction(this.href); return false;">
    <button mat-raised-button color="primary">
      Voir le contrat sur Etherscan
    </button>
  </a>


<br><br>
  <h3> Last :{{ last }} eth</h3>
  <h3> Conversation : </h3>


</mat-card>
