<mat-sidenav-container class="sidenav-container">


  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">



        <mat-toolbar style="justify-content: center">Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/wave']" >wave</a>
          <a mat-list-item [routerLink]="['/market']" >market</a>
        </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>titre</span>

        <span class="example-spacer"></span>
        <!--          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">help_outline</mat-icon>-->
        <button mat-icon-button [matMenuTriggerFor]="auth"><mat-icon>person_outline</mat-icon></button>
        <mat-menu #auth="matMenu">
                                  <button mat-menu-item (click)="mes_infos()">
                                    <mat-icon>perm_identity</mat-icon>
                                    <span>Mes infos</span>
                                  </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Déconnexion</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="content-container">
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
